.keyword {
    -fx-fill: purple;
}

.semicolon {
}

.paren {
    -fx-fill: firebrick;
}

.bracket {
    -fx-fill: darkgreen;
}

.brace {
    -fx-fill: teal;
}

.string {
    -fx-fill: blue;
}

.comment {
    -fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.spell-error {
    -rtfx-font-color: red;
    -rtfx-underline-color: red;
    -rtfx-underline-dash-array: 2 2;
    -rtfx-underline-width: 2;
    -rtfx-underline-cap: butt;
    -rtfx-underline: true;
}

.match-word {
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.current-match-word {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

